<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <trace xdt:Transform="Remove" />
  </system.web>
  <system.webServer>
    <!-- Warmup -->
    <applicationInitialization xdt:Transform="Insert" doAppInitAfterRestart="true">
      <add initializationPage="/"/>
      <add initializationPage="/UserSettings/Accessibility"/>
      <add initializationPage="/Account/Login"/>
    </applicationInitialization>
    
    <!-- HTTP to HTTPS -->
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="WWW" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www\.yourdomain\.com$" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="^IIS Application Initialization Warmup$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://www.yourdomain.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="HTTPS" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_USER_AGENT}" pattern="^IIS Application Initialization Warmup$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://www.yourdomain.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>